config.json
database.db
*.log      # Ignora todos os arquivos .log
*.tmp      # Ignora todos os arquivos temporários
/node_modules/   # Ignora a pasta node_modules
/build/         # Ignora a pasta build
logs/            # Ignora a pasta logs e todo o seu conteúdo
logs/*.log       # Ignora apenas arquivos .log dentro da pasta logs
logs/temp/       # Ignora apenas a subpasta "temp" dentro de logs
*.env        # Arquivos de configuração sensíveis
!example.env # Mas permitir um exemplo de configuração
